/* 
************
** HEADER **
************
 */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9.6rem;
  padding: 0rem 4.8rem;
}

.main-nav-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 6.4rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  font-weight: 600;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: hsl(167, 40%, 24%);
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  font-family: "Fraunces", serif;
  padding: 1.6rem 2.4rem;
  border-radius: 10rem;
  color: hsl(167, 40%, 24%);
  background-color: hsl(0, 0%, 100%);
  text-transform: uppercase;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: rgba(149, 203, 247, 0.57);
  color: hsl(0, 0%, 100%);
}
/* SECTION HERO */

.section-hero {
  background: url(../images/desktop/image-header.jpg);
  background-position: center;
  background-repeat: no-repeat;

  height: 100vh;
}

.hero {
  text-align: center;
  padding: 12.6rem;
}
.heading-primary {
  font-size: 9.6rem;
  color: hsl(0, 0%, 100%);
  text-transform: uppercase;
  letter-spacing: 1rem;
  font-family: "Fraunces", serif;
  font-weight: 900;
  margin-bottom: 8rem;
}

/* SECTION ABOUT */

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.text-box {
  align-self: center;
  padding: 0 8rem;
}

.heading-secondary {
  font-size: 7rem;
  font-family: "Fraunces", serif;

  margin-bottom: 6rem;
  color: hsl(212, 27%, 19%);
}

.description {
  font-size: 2.4rem;
  line-height: 1.5;
  color: hsl(232, 10%, 55%);
  font-weight: 500;
  margin-bottom: 8rem;
}

.about-link {
  padding: 0 1.2rem;
  font-size: 2.4rem;
  text-transform: uppercase;
  font-family: "Fraunces", serif;
  font-weight: 600;
  color: hsl(212, 27%, 19%);
  position: relative;
}
.about-link::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -2px;
  width: 180px;
  height: 14px;
  transform: translateX(-50%);
  border-radius: 100px;
  background: hsl(51, 100%, 49%);
  z-index: -1;
}
.img-box img {
  width: 100%;
}

.section-services {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.service-container-left {
  position: relative;
}
.service-container-left img {
  width: 100%;
}
.service-text {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
}

.heading-tertiary {
  font-size: 4.8rem;
  text-align: center;
  font-family: "Fraunces", serif;
  color: hsl(212, 27%, 19%);
  margin-bottom: 3.2rem;
}

.service-text .description {
  font-size: 2rem;
  text-align: center;
}

/* SECTION TESTIMONIALS */

.section-testimonials {
  padding: 12.4rem;
}

.header-testimonials {
  text-align: center;
  font-size: 3.2rem;
  color: hsl(232, 10%, 55%);
  font-family: "Fraunces", serif;
  margin-bottom: 9.6rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}
.testimonials {
  display: flex;
}

.testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-customer {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 6.4rem;
}

.testimonial-text {
  font-size: 2.2rem;
  line-height: 1.5;
  color: hsl(213, 9%, 39%);
  text-align: center;
  padding: 0 4.8rem;
  font-weight: 500;
  margin-bottom: 3.2rem;
}

.name-text {
  font-size: 2.4rem;
  font-weight: 700;
  font-family: "Fraunces", serif;
  margin-bottom: 1.8rem;
  color: hsl(212, 27%, 19%);
}

.job-text {
  font-size: 1.6rem;
  color: hsl(210, 4%, 67%);
  font-weight: 500;
}
.gallery img {
  width: 100%;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

/* SECTION FOOTER */

.footer {
  background-color: hsl(168, 34%, 55%);
}
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  padding: 9.6rem 0;
}

.footer-container .main-nav-link {
  color: #2c7566;
}

.footer-container .main-nav-link:hover {
  color: hsl(0, 0%, 100%);
}

.logo-svg {
  display: block;
  fill: #2c7566;
}
.social-links {
  display: flex;
  gap: 4.8rem;
}
.social-icon {
  fill: #2c7566;
}
.social-icon:hover {
  fill: hsl(0, 0%, 100%);
  cursor: pointer;
}
